/****************************************************
 *  MODAL
 ***************************************************/

.modal {
    display: none;
    position: absolute;
    z-index: 15000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal .screen  {
    background-color: rgba(0,0,0,0.5);
  border-radius: 0px 0px 0px 0px;
  position: absolute;
  z-index: 2010;
  height: 77.3%;
  width: 100%;
  left: 0;
  top: 81px;
}

.modal .content {
    border: 1px solid #ACE1EE;
    background-color: #2390AB;
    position: absolute;
    border-radius: 6px;
    display: table;
    z-index: 2020;
    height: 26%;
    width: 40%;
    left: 30%;
    top: 37%;
}

.modal .content .container {
    font-family: 'Nexa Regular', sans-serif;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 20px;
    color:white;
}

.modal .content .close-modal {
    border: 2px solid white;
    background-color: #000;
    border-radius: 60px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: white;
    height: 30px;
    width: 30px;

    position: absolute;
    cursor: pointer;
    line-height: 31px;
    right: -15px;
    top: -15px;
}