/*****************FUENTES*****************/
@font-face {
	font-family: "avenir";
	src: url("fonts/avenirltstd-book.eot"), url("avenirltstd-book.ttf"), url("avenirltstd-book.otf");
}
@font-face {
	font-family: "museo";
	src: url("fonts/museo.eot"), url("museo.ttf"), url("museo.otf");
}
@font-face {
	font-family: "trebuc";
	src: url("fonts/trebuc.eot"), url("fonts/trebuc.ttf");
}
@font-face {font-family: "UniSansRegular"; src: url("fonts/UniSansRegular.otf"), url("fonts/UniSansRegular.ttf");}
@font-face {font-family: "UniSansBold"; src: url("fonts/UniSansBold.otf"), url("fonts/UniSansBold.ttf");}
@font-face {font-family: "UniSansBoldItalic"; src: url("fonts/UniSansBoldItalic.otf"), url("UniSansBoldItalic.ttf");}
@font-face {font-family: "UniSansLight"; src: url("fonts/UniSansLight.otf"), url("fonts/UniSansLight.ttf");}
@font-face {font-family: "UniSansBook"; src: url("fonts/UniSansBook.otf"), url("fonts/UniSansBook.ttf");}
@font-face {font-family: "UniSansBookItalic"; src: url("fonts/UniSansBookItalic.otf"), url("fonts/UniSansBookItalic.ttf");}
@font-face {font-family: "UniSansHeavyItalic"; src: url("fonts/UniSansHeavyItalic.otf"), url("fonts/UniSansHeavyItalic.ttf");}
@font-face {font-family: "UniSansLightItalic"; src: url("fonts/UniSansLightItalic.otf"), url("fonts/UniSansLightItalic.ttf");}
@font-face{font-family:"UniSansRegularItalic";src: url("fonts/UniSansRegularItalic.otf"),url("fonts/UniSansRegularItalic.ttf");}
@font-face{font-family: "UniSansSemiBold"; src: url("fonts/UniSansSemiBold.otf"), url("fonts/UniSansSemiBold.ttf");}
@font-face{font-family:"UniSansSemiBoldItalic";src:url("fonts/UniSansSemiBoldItalic.otf"),url("fonts/UniSansSemiBoldItalic.ttf");}
@font-face{font-family: "UniSansThin"; src: url("fonts/UniSansThin.otf"), url("fonts/UniSansThin.ttf");}
@font-face{font-family: "UniSansThinItalic"; src: url("fonts/UniSansThinItalic.otf"), url("fonts/UniSansThinItalic.ttf");}

@font-face {
    font-family: 'Nexa-Bold';
    src: url('fonts/NexaBold-webfont.eot');
    src: url('fonts/NexaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NexaBold-webfont.woff2') format('woff2'),
         url('fonts/NexaBold-webfont.woff') format('woff'),
         url('fonts/NexaBold-webfont.ttf') format('truetype'),
         url('fonts/NexaBold-webfont.svg#Nexa-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('fonts/NexaLight-webfont.eot');
    src: url('fonts/NexaLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NexaLight-webfont.woff2') format('woff2'),
         url('fonts/NexaLight-webfont.woff') format('woff'),
         url('fonts/NexaLight-webfont.ttf') format('truetype'),
         url('fonts/NexaLight-webfont.svg#Nexa-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-Regular';
    src: url('fonts/NexaRegular-webfont.eot');
    src: url('fonts/NexaRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NexaRegular-webfont.woff2') format('woff2'),
         url('fonts/NexaRegular-webfont.woff') format('woff'),
         url('fonts/NexaRegular-webfont.ttf') format('truetype'),
         url('fonts/NexaRegular-webfont.svg#Nexa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'journalregular';
    src: url('fonts/journal-webfont.eot');
    src: url('fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/journal-webfont.woff') format('woff'),
         url('fonts/journal-webfont.ttf') format('truetype'),
         url('fonts/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalkboard';
    src: url('fonts/KGChasingPavements-webfont.eot');
    src: url('fonts/KGChasingPavements-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KGChasingPavements-webfont.woff2') format('woff2'),
         url('fonts/KGChasingPavements-webfont.woff') format('woff'),
         url('fonts/KGChasingPavements-webfont.ttf') format('truetype'),
         url('fonts/KGChasingPavements-webfont.svg#chalkboard') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background-color: #CCC;}

* {
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*****************ELEMENTOS INDEX*****************/

#Area_splash {
	background-color: #8F3DB0;
	background-image: url("splash.jpg");
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-family: Nexa-Regular;
	font-size: 14px;
	height: 433px;
	left: 0px;
	position: absolute;
	top: 81px;
	width: 100%;
	display:none;	
}
	
/*****************ESTRUCTURA*****************/

#imagen_fondo{
/*background-image: url("img/fondo1.jpg");*/
position:absolute;
background-repeat: no-repeat;
position:relative;
height: 568px;
top:131px;
left:69px;	
}

#all {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	height: 560px;
	left: 0;
	position: absolute;
	width: 790px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
	border-radius: 15px 15px 0px 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	padding: 0px;
}

#Encabezado {
	font: 24px avenir,arial;
	height: 82px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 24px;
	line-height: normal;
	font-family: verdana, arial;
	width: 790px;
	color: rgb(0, 0, 0);
	text-align: left;
	padding: 25px 0px 25px 30px;
	border-radius: 15px 15px 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(200, 198, 198);
	background-image: url(img/santillana.png);
	background-color: white;
	background-position: 620px 22px;
	background-repeat: no-repeat;
}

#Instruccion {
	background-color: #ff1d98;
	color: #FFFFFF;
	font-family: Nexa-Regular;
	height: 60px;
	left: 0px;
	position: absolute;
	top: 82px;
	width: 100%;	
}

.instrucciones {
	 background-color: #ff1d98;
  color: #FFFFFF;
  font-family: Nexa-Regular;
  height: 60px;
  left: 21px;
  position: absolute;
  top: 83px;
  font-size: 18px;

}
#txt_Inst, #txt_InstIndex{
	font-family: Nexa-Regular;
	font-
	: 18px;
	position: absolute;
	width: 89%;
	margin-left: 35px;
	margin-top: 12px;
}
#Actividad {
   /*background-color: #8F3DB0;*/
	color: #FFFFFF;
	font-family: Nexa-Regular;
	font-size: 14px;
	height: 372px;
	left: 0px;
	position: absolute;
	top: 142px;
	width: 100%;	
}
/*****************RETROALIMENTACIONES*****************/

.retro_correcta {
   background-color: #129af0;
	color: #FFFFFF;
   	position: absolute;
    height: 120px;
	top: 15px;
    left: 30px;   
    width: 300px;	
}
.retro_incorrecta {
   background-color: #999999;
	color: #FFFFFF;
    position: absolute;
    height: 120px;
	top: 15px;
    left: 440px;   
    width: 300px;	
}
#txt_retros{
	font-family: 'Nexa Regular';
	font-size: 14px;
	position: absolute;
	width: 235px;
	margin-left: 30px;
	margin-top: 40px;	
	text-align:center;
}

#retrofin{
	display:none;
	cursor:pointer;
  top: 52px;
  left: 537px;
  position: absolute;
  width: 30px;
  height: 30px;
  backgroud-repeat: none;
  background-color: #000;
  z-index: 99999;
  border-radius: 23px;
  border-color: #FFFFFF;
  border-style: solid;
  background-image:url(img/close.png);
}
	
/*****************BOTONES*****************/

#botonera{
	position:absolute;
	height: 46px;
	top: 514px;
	left: 0px;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(200, 198, 198);
	background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(224, 224, 224) 50%, rgb(216, 215, 215) 75%, rgb(216, 		215, 215) 100%);
	background:-moz-linear-gradient(top, #ffffff 0%, #e0e0e0 50%, #d8d7d7 75%, #d8d7d7 100%);
	background:-o-linear-gradient(top, #ffffff 0%, #e0e0e0 50%, #d8d7d7 75%, #d8d7d7 100%);
	background:-ms-linear-gradient(top, #ffffff 0%, #e0e0e0 50%, #d8d7d7 75%, #d8d7d7 100%);
	background:DXImageTransform.Microsoft.gradient(top, #ffffff 0%, #e0e0e0 50%, #d8d7d7 75%, #d8d7d7 100%);
}

#inicioBtn {
    background-image: url("ob/iniciar.png");
	background-repeat: no-repeat;
    cursor: pointer;
    height: 47px;
	width: 67px;
    position: absolute;
    top: 0px;
    left:362px;
}
#closeBtn{
    background-image: url("ob/close.png");
	background-repeat: no-repeat;
    height: 20px;
	left: 275px;
	position: absolute;
	top: 8px;
	width: 18px;
	cursor: pointer;
}
/****************************************************
#homeBtn {
    background-image: url("ob/home.png");
	background-repeat: no-repeat;
    cursor: pointer;
    height: 47px;
    position: absolute;
    top: 0px;
    width: 67px;
	left: 235px;
}
*****************************************************/
#checkBtn {
    background-image: url("ob/comprobar.png");
	background-repeat: no-repeat;
    cursor: pointer;
    height: 47px;
    position: absolute;
    top: 0px;
    width: 67px;
	left:367px;
}
/****************************************************
#restartBtn {
    background-image: url("ob/restart.png");
	background-repeat: no-repeat;
	cursor: pointer;
    height: 47px;
    left: 433px;
    position: absolute;
    top: 0px;
    width: 67px;
}
****************************************************/
#solutionBtn {
    background-image: url("ob/solution.png");
	background-repeat: no-repeat;
    height: 47px;
	 cursor: pointer;
    left: 499px;
    position: absolute;
    top: 0px;
    width: 67px;
}
#regresaBtn {
    background-image: url("ob/back.png");
	background-repeat: no-repeat;
    height: 47px;
	 cursor: pointer;
    left: 200px;
    position: absolute;
    top: 0px;
    width: 67px;
}
/********************************************
#avanzaBtn {
    background-image: url("ob/next.png");
	background-repeat: no-repeat;
    height: 47px;
	 cursor: pointer;
    left: 301px;
    position: absolute;
    top: 0px;
    width: 67px;
}
********************************************/
#imprimeBtn {
    background-image: url("ob/print.png");
	background-repeat: no-repeat;
    height: 47px;
	 cursor: pointer;
    left: 530px;
    position: absolute;
    top: 0px;
    width: 67px;
}

/****************************************************
 *  BOTONERA CON CONTAINER
 ***************************************************/

#botonera .container {
    margin: 0 auto;
    width: 201px;
    height: 47px;
}

#homeBtn {
    background-image: url("ob/home.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 47px;
    width: 67px;
    float: left;
}

#restartBtn {
    background-image: url("ob/restart.png");
    background-repeat: no-repeat;
    margin-left: -2px;
    cursor: pointer;
    height: 47px;
    width: 67px;
    float: left;
}

#avanzaBtn {
    background-image: url("ob/next.png");
    background-repeat: no-repeat;
    height: 47px;
    cursor: pointer;
    left: 425px;
    position: absolute;
    top: 0px;
    width: 67px;
}

/*********************************************/

td {
    text-align: center;
    vertical-align: middle;
}
img {
    border: 0 none;
}
#txt_div{
	color: #000000;
    font: 11px verdana;
    height: 234px;
    left: 489px;
    overflow-y: scroll;
    position: absolute;
    top: 121px;
    width: 220px;
}

/*****************CUADROS, POP-UP*****************/

.elemento1 {background-color: #b31287;color: #FFFFFF;position: absolute;height: 120px;top: 203px;left: -407px;width: 200px;}
.elemento2 {background-color: #7f42b3;color: #FFFFFF;position: absolute;height: 120px;top: 203px;left: -158px;width: 200px;}
.elemento3 {background-color: #12b380;color: #FFFFFF;position: absolute;height: 120px;top: 203px;left: 100px;width: 200px;}

#elementos{	
	position: absolute;
	width: 235px;
	margin-left: -12px;
	margin-top: 0px;
	text-align: center;
}
#txt_elementos{	
	position: absolute;
	width: 166px;
	margin-left: 16px;
	margin-top: 35px;
}

/*****************ELEMENTOS VIDEO*****************/


#videoInterac{
    position: absolute;
    top:12px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#videoCont{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 50%;
    width:  50%;
}

#videoBuffer{
    width: 250px;
    height: 4px;
    background-color: #d5d5d5;
    position: absolute;
    top:0%;
    left:10px;
	border-width: 1px;
	border-style: solid;
	border-color: #b8b8b8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    //opacity: 0;
}
#videoBufferMov{
    width: 0px;
    height: 4px;
    background-color:#71bf43;
	border-width: 1px;
	border-style: solid;
	border-color: #83a2c6;
    position: absolute;
    top:8.5%;
    left:10px;
    z-index: 2;
    border-bottom-left-radius: 6px;
    //border-bottom-right-radius: 6px;
    border-top-left-radius:6px;
    // border-top-right-radius: 6px;
}

#currentBuffer{
	background-image: url("ob/move.png");
	background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    position: absolute;
    left:0px;
    top:-6px;    
}
#currentBufferFake{
    width: 23px;
    height: 46px;
    background-color: #000000;
    position: absolute;
    left:0px;
    top:-13px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius:6px;
    border-top-right-radius: 6px;
    z-index: 13;
    opacity: 0;
}


#controles{
    position: absolute;
	top: 0px;
	left: 155px;
	z-index: 10;
}

#btnPause{
    background-image: url("ob/pass.png");
	background-repeat: no-repeat;
    height: 47px;
	width: 67px;    
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
#btnPlay{
	background-image: url("ob/play.png");
	background-repeat: no-repeat;
    height: 47px;
	width: 67px;    
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    visibility: hidden;
}
#btnStop{
   background-image: url("ob/stop.png");
	background-repeat: no-repeat;
    height: 47px;
	width: 67px;
    position: absolute;
    top: 0px;
    left: 66px;
    cursor: pointer;

}
#btnVolumeLow{
    background-image: url("ob/mute.png");
	background-repeat: no-repeat;
    height: 47px;
	width: 67px;
	position: absolute;
    top: 0px;
    left: 132px;
    cursor: pointer;
}
#btnVolumeLoud{
    background-image: url("ob/audio.png");
	background-repeat: no-repeat;
    height: 47px;
	width: 67px;
    position: absolute;
    top: 0px;
    left: 132px;
    cursor: pointer;
    visibility: hidden;
}
#barra{
    position: absolute;
    top: 21px;
	left: 220px;
}

